/* Fonts */
@font-face {
    font-family: "Arcade";
    src: url('/src/fonts/04B_30__.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Crang";
    src: url('/src/fonts/Crang.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Dogcia";
    src: url('/src/fonts/dogica.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cyberpunk";
    src: url('/src/fonts/CyberpunkWaifus.ttf');
    font-weight: 600;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/src/background.gif");
    background-size: cover;
}

#content {
    display: grid;
    grid-template-rows: 15vh 85vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.25));
}

.whiteLine {
    background-color: white;
    width: 1200px;
    height: 5px;
    margin: 20px;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#pageTitle {
    color: white;
    font-size: 100px;
    font-family: "Arcade";
}

/* Header & Nav */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Crang";
}

.navLinks {
    padding-bottom: 10px;
    transition: transform 0.4s ease;
}

.navLinks:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: lightcoral;
}

#navLogo {
    font-size: 50px;
}

/* Home Section */
#homeDesc {
    color: white;
    font-family: "Dogcia";
    font-size: 20px;
    width: 75%;
    line-height: 30px;
}

/* Menu Section */
#menuCategories {
    border: 1px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
}

.menuItemCategory {
    display: flex;
    color: white;
    font-family: "Dogcia";
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.menuItemCategory:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: lightcoral;
}

#currentCategory {
    color: lightcoral;
}

#menuItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    height: 400px;
    color: white;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    gap: 20px;
}

.menuItem {
    display: grid;
    grid-template-rows: 20% 20% 10% 50%;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-items: center;
    font-family: "Cyberpunk";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.menuItem > .whiteLine {
    width: 200px;
    height: 1px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
}

.menuItemName {
}


.menuItemDescr {
    margin: 10px;
    padding: 0px;
}

/* Contact Section */

