/* Fonts */
@font-face {
    font-family: "Arcade";
    src: url('/src/fonts/04B_30__.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Crang";
    src: url('/src/fonts/Crang.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Dogcia";
    src: url('/src/fonts/dogica.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cyberpunk";
    src: url('/src/fonts/CyberpunkWaifus.ttf');
    font-weight: 600;
    font-style: normal;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/src/images/background.gif");
    background-size: cover;
}

#content {
    display: grid;
    grid-template-rows: 15vh 80vh 5vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.25));
}

.whiteLine {
    background-color: white;
    width: 1200px;
    height: 5px;
    margin: 20px;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#pageTitle {
    color: lightskyblue;
    font-size: 40px;
    font-family: "Arcade";
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    align-items: center;
    justify-items: center;

}

.navLinks {
    color: white;
    font-family: "Crang";
    font-size: 30px;
    padding-bottom: 10px;
    transition: transform 0.4s ease;
}

.navLinks:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: lightcoral;
}

#headerLogo {
    font-size: 60px;
}

/* Home Section */
#homePageTitle {
    color: lightskyblue;
    font-size: 100px;
    font-family: "Arcade";
}

#homeDesc {
    color: white;
    font-family: "Dogcia";
    font-size: 20px;
    width: 75%;
    line-height: 30px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
}

/* Menu Section */
#menuCategories {
    border: 1px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
}

.menuItemCategory {
    display: flex;
    color: white;
    font-family: "Dogcia";
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.menuItemCategory:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: lightcoral;
}

#menuItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    height: 400px;
    color: white;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    gap: 20px;
}

.menuItem {
    display: grid;
    grid-template-rows: 20% 20% 10% 50%;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 170px;
    align-items: center;
    justify-items: center;
    font-family: "Cyberpunk";
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.menuItem > .whiteLine {
    width: 200px;
    height: 1px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
}

.menuItemName {
    color: aquamarine;
}

.menuItemPrice {
    color: lightgoldenrodyellow;
}

.menuItemDescr {
    color: plum;
    margin: 10px;
    padding: 0px;
}

/* Contact Section */
#contactItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.contactItemName {
    font-family: "Dogcia";
    font-size: 40px;
    color: aquamarine;
}

.contactItemText {
    font-family: "Cyberpunk";
    font-size: 40px;
    color: plum;
}

/* Footer */
#footerContainer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerText {
    color: white;
    font-family: "Cyberpunk";
    font-size: 20px;
}

#githubIcon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

