@font-face {
    font-family: "Arcade";
    src: url('/src/fonts/04B_30__.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Crang";
    src: url('/src/fonts/Crang.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Dogcia";
    src: url('/src/fonts/dogica.ttf');
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/src/background.gif");
    background-size: cover;
}

#grid {
    display: grid;
    grid-template-rows: 15vh 85vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.25));
}

.whiteLine {
    background-color: white;
    width: 1200px;
    height: 5px;
    margin: 25px;
}

#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#homeTitle {
    color: white;
    font-size: 100px;
    font-family: "Arcade";
}

#homeDesc {
    color: white;
    font-family: "Dogcia";
    font-size: 20px;
    width: 75%;
    line-height: 25px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 25px;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Crang";
}

nav > p {
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

#navLogo {
    font-size: 50px;
}